<main class="contenedor">
    <div id="lista-cafe" class="container">
        <h1 id="encabezado" class="encabezado h1-colors">Nuestros Productos</h1>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img class="imgFilter first-slide" src="/public/img/images/coffee1.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe negro</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee2.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe con leche</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee3.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe con leche</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <!--.row-->

        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee2.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe con leche</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee1.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe negro</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee4.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe con leche</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <!--.row-->

        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee5.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe negro</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee1.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe negro</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee4.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe con leche</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <!--.row-->

        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee3.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe negro</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee5.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe negro</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/public/img/images/coffee3.jpg" class="u-full-width">
                    <div class="info-card">
                        <h4>Cafe con leche</h4>
                        <p>Marca nesca</p>
                        <img src="/public/img/images/estrellas.png">
                        <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <!--.row-->
    </div>


</main>