<main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label>Email:</label>
            <input type="email" name="email" placeholder="Ingrese su Correo">
        </div>
        <div class="campo">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Ingrese su Password">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear Cuenta</a>
            <a href="/restablecer-password">Olvidé Mi Password</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>

</main>